@require './mixins/layout.styl'

for class_suffix, layout in $j_layout_hash
  .flex-j-{class_suffix}
    justify-content layout

  .flex-j-{class_suffix}-i
    justify-content layout !important

  .flex-v-center-j-{class_suffix}
    display flex
    align-items center
    justify-content layout

for class_suffix, layout in $a_layout_hash
  .flex-a-{class_suffix}
    align-items layout

  .flex-a-{class_suffix}-i
    align-items layout !important

  .flex-as-{class_suffix}
    align-self layout

  .flex-as-{class_suffix}-i
    align-self layout !important

  .flex-h-center-a-{class_suffix}
    display flex
    align-items layout
    justify-content center