@import './utilities.size.styl'
@import './utilities.text.styl'
@import './utilities.layout.styl'

// useful only development
.J_dev_router_point
  cursor pointer
  &:hover
    text-decoration underline
    color blue

.btn
  &[disabled]
    cursor not-allowed

.not-allowed
  cursor not-allowed

.full-h
  height 100%

.full-w
  width 100%

.hide
  display none !important

.border-box
  box-sizing border-box
