@require './mixins/size.styl'
/**
 *
 *  get the utility class such as
 *   .mr-xs
 *     margin-right ($offset-unit / 2)
 *   .mr-sm
 *     margin-right $offset-unit
 *   .ml-xs
 *     margin-left ($offset-unit / 2)
 *   .ml-sm
 *     margin-left $offset-unit
 */
for name in ('margin' 'padding')
  prefixer = substr(name, 0, 1)

  for direction in $directions
    dprefixer = substr(direction, 0, 1)

    final_prefixer = prefixer + dprefixer
    for size, time in $times_of_offset
      .{final_prefixer}-{size}-i
        sizify(join('-', final_prefixer, size, 'i'))

      .{final_prefixer}-{size}
        sizify(join('-', final_prefixer, size))

    .no-{final_prefixer}
      sizify('no-' + final_prefixer)

    .no-{final_prefixer}-i
      sizify('no-' + final_prefixer + '-i')
/**
 *
 *  get the utility class such as
 *   .no-margin-right
 *     margin-right 0
 *   .no-padding-top
 *     padding-top 0
 */
for direction in $directions
  .no-margin-{direction}
    margin-{direction} 0 !important
  .no-padding-{direction}
    padding-{direction} 0 !important

for name in ('margin' 'padding')
  .no-v-{name}
    sizify('no-v-' + name)
  .no-v-{name}-i
    sizify('no-v-' + name + '-i')
  .no-h-{name}
    sizify('no-h-' + name)
  .no-h-{name}-i
    sizify('no-h-' + name + '-i')

  for size, time in $times_of_offset
    .{name}-{size}
      sizify(join('-', name, size))

    .{name}-v-{size}
      sizify(join('-', name, 'v', size))

    .{name}-h-{size}
      sizify(join('-', name, 'h', size))
